.insports-feeds {
    display: block;
    position: relative;
    margin: 0px;
    padding-left: 80px;
}

.feeds-profile {
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
    height: 60px;
}

.feeds-header {
    display: block;
    border-bottom: #e8e8e8 solid 1px;
    padding-bottom: 10px;
}
.feeds-header h3{
    font-size: 18px;
}
.feeds-header h3 span{
    font-size: 16px;
}
.feeds-head-list {
    display: block;
    margin: 0px;
    padding: 0;
}

.feeds-head-list li {
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0px;
    vertical-align: top;
}
.feeds-head-list li a{
    display: block;
     padding: 0 8px;
}
.feeds-head-list li a i{
    font-size: 22px;
    line-height: 0px;
}
.feeds-head-list li .dropdown-menu{
    left: auto;
    right: 0px;
}
.feeds-content {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
}

.post-image {
    display: block;
    margin-bottom: 15px;
}

.feeds-footer {
    display: block;
    padding-top: 10px;
    border-top: #e8e8e8 solid 1px;
}
.feeds-control{
    display: block;
    margin: 0;
    padding: 0;
}
.feeds-control a{
    display: inline-block;
    margin-right: 10px;
    color: #555;
}
.feeds-control a i{
    display: inline-block;
    font-size: 16px;
    line-height: 0px;
}
.feeds-control a span{
    display: inline-block;
    vertical-align: top;
    line-height: 15px;
}
.feeds-control a:last-child{
    margin-right: 0px;
}