#header-global {
    display: block;
    background: #1B95E0;
    line-height: 17px;
    color: #333;
    font-weight: normal;
    z-index: 10001;
    height: 45px;
    position: fixed;
    top: 0;
    width: 100%;
}

#header-global .container {
    display: flex;
    justify-content: space-between;
}

.header-left {
    flex: 1 1 auto;
    justify-content: flex-start;
}

.logo {
    margin: 0px;
    width: 120px;
}

.logo a {
    padding: 6px 0;
    display: block;
}

.main-search {
    margin: 0;
    width: 80%;
}

.main-search ul {
    margin: 0px;
    padding-left: 20px;
}

.main-search li {
    float: left;
    margin: 0px;
    padding: 9px 0px;
}

.advance-selection {
    width: 27px;
    display: block;
    height: 27px;
    background: #ddd;
    text-align: center;
    cursor: pointer;
    line-height: 27px;
    font-size: 18px;
    -webkit-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.search-input {
    position: relative;
    padding-right: 25px !important;
    width: 60%;
}

.search-input input[type="text"] {
    width: 100%;
    height: 27px;
    border: #ddd solid 1px;
    padding: 0px 10px;
    line-height: 27px;
}

.search-input button {
    position: absolute;
    right: 0px;
    top: 9px;
    width: 27px;
    height: 27px;
    border: #ddd solid 1px;
    text-align: center;
    line-height: 27px;
    -webkit-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    font-size: 18px;
}

.header-right {
    flex: 0 0 auto;
    justify-content: flex-end;
}

.navbar-collapse {
    padding: 0px !important;
}

.navbar-nav > li > a {
    padding-bottom: 8px;
    padding-top: 10px;
    color: #012e49;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
    background: none;
}

.navbar-nav > li > a i {
    font-size: 24px;
}

.navbar-nav > li > a span.label {
    position: absolute;
    background: #e04c4c;
    right: 4px;
    top: 5px;
    text-shadow: 1px -1px 1 #9E9E9E;
}

.navbar-nav > li:last-child > a {
    padding-right: 0px;
    padding-bottom: 11px;
    padding-top: 8px;
}

.profile-image {
    background: #fff;
    border: #ccc solid 1px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 6px;
    vertical-align: top;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.profile-name {
    display: inline-block;
    line-height: 24xp;
    height: 24px;
    vertical-align: top;
}

.drop-arrow {
    font-size: 22px;
    display: inline-block;
    height: 24px;
}