.spot-item-logo {
    text-align: center;
}

.spot-spacification {
    margin: 0;
}

.spot-spacification h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.spot-spacification .spot-position {
    display: block;
}

.spot-spacification .spot-position span {
    display: inline-block;
    vertical-align: top;
}

.spot-spacification .spot-position span:first-child {
    font-size: 16px;
    text-transform: uppercase;
    padding-right: 15px;
}

.spot-spacification .spot-position span:last-child {
    font-size: 16px;
    line-height: 22px;
}

.spot-spacification .list-inline {
    margin-top: 10px;
}

.spot-spacification .list-inline li span:first-child {
    font-size: 16px;
    font-weight: 500;
    padding-right: 3px;
}

.spot-spacification .list-inline li span:last-child {
    font-size: 14px;
}

.content-inner-tab {
    display: block;
    margin-top: 20px;
    padding: 0px;
}

.content-inner-tab .nav-tabs {
    display: block;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.content-inner-tab .nav-tabs li {
    margin: 0px;
}

.content-inner-tab .nav-tabs li a {
    border: 0px;
    padding: 5px 8px;
}

.content-inner-tab .nav-tabs li.active a,
.content-inner-tab .nav-tabs li a:hover {
    border-color: #888;
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    background: none;
}

.content-inner-tab .tab-content {
    display: block;
    margin-top: 20px;
}

.creer-result {
    display: block;
    margin: 0px;
    padding: 0px;
}

.creer-result ul {
    display: table;
    margin: 0;
    padding: 0;
}

.creer-result ul li {
    border-bottom: 1px solid #ebebeb;
    height: 80px;
    display: table-cell;
    vertical-align: middle;
}

.creer-result ul .tbl-cupname {
    vertical-align: middle;
    font-size: 16px;
    width: 165px;
}

.creer-result ul .tbl-edition-wins {
    width: 130px;
    padding-right: 20px;
}

.creer-result ul .tbl-edition-wins .editionwins-list > li {
    padding: 10px 2px 0;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    border: 0px;
}

.creer-result ul .tbl-edition-wins .cup-image img {
    width: 20px;
    height: auto;
}

.creer-result ul .tbl-goalfor {
    width: 100px;
    position: relative;
    padding-top: 44px;
    vertical-align: top;
}

.creer-result ul .tbl-goalfor .label-name {
    line-height: 1;
    text-transform: uppercase;
    color: #999;
    font-size: 11px;
}

.creer-result ul .tbl-goalfor .label-data {
    height: 66px;
    font-size: 26px;
    line-height: 66px;
    position: absolute;
    top: -6px;
    left: 0;
    font-weight: 200;
    letter-spacing: -1.5px;
}

.creer-result ul .tbl-goalfor .text:before {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url(http://img.fifa.com/images/layout/statistics/stats-sprite.jpg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0 0;
    display: inline-block;
    margin-right: 4px;
    margin-bottom: -3px;
}

.creer-result ul .tbl-cards {
    width: 175px;
}

.creer-result ul .tbl-cards>ul>li {
    position: relative;
    display: block;
    height: 30px;
    padding-left: 40px;
    border: 0px;
}

.creer-result ul .tbl-cards li .label-name {
    line-height: 1;
    text-transform: uppercase;
    color: #999;
    font-size: 11px;
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}

.creer-result ul .tbl-cards>ul>li .label-data {
    height: 30px;
    font-size: 26px;
    line-height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 200;
    letter-spacing: -1.5px;
}

.creer-result ul .tbl-cards>ul>li .label-data .text {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}

.creer-result ul .tbl-cards>ul>li.tbl-y .text:before {
    content: "";
    width: 15px;
    height: 22px;
    display: inline-block;
    background: #e1bd02;
    margin-right: 6px;
}

.creer-result ul .tbl-cards>ul>li.tbl-rc .text:before {
    content: "";
    width: 15px;
    height: 22px;
    display: inline-block;
    background: #c40100;
    margin-right: 6px;
}

.creer-result ul .tbl-match-played {
    width: 175px;
}

.creer-result ul .tbl-matches-num-wdl {
    width: 175px;
    position: relative;
    display: inline-block;
    height: 36px;
    vertical-align: top;
    border: 0px;
}

.creer-result ul .tbl-matches-num-wdl .label-name {
    line-height: 1;
    text-transform: uppercase;
    color: #999;
    font-size: 11px;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding-left: 60px;
}

.creer-result ul .tbl-matches-num-wdl .label-data {
    height: 60px;
    font-size: 26px;
    line-height: 60px;
    position: absolute;
    top: -6px;
    left: 0;
    font-weight: 200;
    letter-spacing: -1.5px;
}

.creer-result ul .tbl-match-played .tbl-win {
    display: inline-block;
    height: 10px;
    position: relative;
    background-color: #326295;
    color: #326295;
    width: 33%;
    font-weight: 700;
}

.creer-result ul .tbl-match-played .tbl-draw {
    display: inline-block;
    height: 10px;
    position: relative;
    background-color: #6395ca;
    color: #6395ca;
    width: 33%;
    font-weight: 700;
}

.creer-result ul .tbl-match-played .tbl-lost {
    display: inline-block;
    height: 10px;
    position: relative;
    background-color: #afc9e4;
    color: #afc9e4;
    width: 33%;
    font-weight: 700;
}

.creer-result ul .tbl-match-played .tbl-win.data,
.creer-result ul .tbl-match-played .tbl-draw.data,
.creer-result ul .tbl-match-played .tbl-lost.data {
    border: 0px;
    margin-top: -15px;
    text-align: center;
    background-color: transparent;
}

.creer-result ul .tbl-expand {
    vertical-align: middle;
    padding-left: 20px;
    width: 38px;
}
.creer-result ul .tbl-expand a{
    font-size: 20px;
    display: inline-block;
    margin-top: 15px;
}