/*
 *
 *INSPORTS WEB SITE
 *version 1.0
 *factweavers.com
 *ui design by jagadeeshlal
 */

*:not(i) {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-weight: normal;
}

body {
    color: #66768a;
    background: #f2f2f2;
    font-size: 13px;
}

ul,
li {
    list-style: none;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    transition: all ease-in-out .2s;
}

a:hover {
    text-decoration: none;
    color: #3ea3ec;
    transition: all ease-in-out .2s;
}

a:focus {
    text-decoration: none !important;
    outline: none !important;
}

h4 {
    font-size: 12px;
    font-weight: 500;
    display: block;
    text-transform: uppercase;
}

h2 {
    font-size: 50px;
    font-weight: 100;
    line-height: 56px;
}

#wrapper {
    display: block;
    margin-top: 45px;
    margin-bottom: 10px;
}

.main-content {
    display: block;
    margin: 0;
    padding: 15px 0;
}
/*=============
Main listing
=================*/
.vertical-list{
    display: block;
    margin:0;
    padding: 0px;
}
.vertical-list li{
    display: block;
    margin: 8px 0;
    padding: 0px;
}
.border-top{
    border-bottom: #e7e9ee solid 1px;
}
.border-rit{
    border-bottom: #e7e9ee solid 1px;
}
.border-btm{
    border-bottom: #e7e9ee solid 1px;
}
.border-lft{
    border-bottom: #e7e9ee solid 1px;
}
/*=============
bootstrap override
=================*/
.
.panel {
    background: #fff;
    margin-bottom: 15px !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.panel-default {
    border: 0px;
}

.panel-default .panel-heading {
    background: #fff;
}

.main-pad-row {
    margin-left: -7.5px !important;
    margin-right: -7.5px !important;
}

.main-pad-col {
    padding-right: 7.5px !important;
    padding-left: 7.5px !important;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 3px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .3);
    margin: 0px !important;
    padding: 0px !important;
}

.dropdown-menu li {
    display: block !important;
    float: none !important;
    margin: 0px !important;
    padding: 0px !important;
}

.dropdown-menu li a {
    display: block !important;
    margin: 0px !important;
    padding: 6px 8px !important;
}

.btn {
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-weight: 500;
}
.btn-sm{
    padding: 4px 20px;
}