.tab-container {
    display: block;
    margin-bottom: 15px;
    padding: 0;
}

.tab-container .nav-tabs {
    border: 0px;
}
.tab-container .nav-tabs>li{
    margin-right: 20px;
}
.tab-container .nav-tabs>li:last-child{
    margin-right: 0px;
}
.tab-container .nav-tabs>li>a{
    border: 0px;
    margin: 0;
    padding: 0px;
    text-align: center;
}
.tab-container .nav-tabs>li>a span.tab-icon{
    display: inline-block;
    clear: both;
    width: 36px;
    height: 36px;
    background-image: url(../img/tab-icon-sprite.png);
    background-repeat: no-repeat;
}
.sports{
    background-position: 0px 7px;
}
.result{
    background-position: 2px -56px;
}
.gallery{
    background-position: 0px -112px;
}
.tab-container .nav-tabs>li>a span.tab-text{
    display: block;
    clear: both;
}
.tab-container .nav-tabs>li.active>a,
.tab-container .nav-tabs>li.active>a:focus,
.tab-container .nav-tabs>li.active>a:hover,
.tab-container .nav-tabs>li>a:hover {
    border: 0px;
    background: none;
}