.profile-header {
    display: block;
    min-height: 420px;
    max-height: 420px;
    background: #eee;
    overflow: hidden;
    position: relative;
}
.profile-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
.profile-bg img{
     position: absolute;
    left: 0;
    right: 0;
    top: -9999px;
    bottom: -9999px;
    margin: auto 0;
    width: 100%
}
.profile-cont-block{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: 0px;
    top: 0px;
}



.background-image {
    display: block;
    float: left;
    background: background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.50);
    position: absolute;
    padding: 6px 10px;
    right: 5px;
    top: 15px;
    color: #fff;
    font-size: 16px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.background-image i {
    display: inline-block;
    margin-right: 6px;
    line-height: 0px;
    font-size: 22px;
    vertical-align: top;
}

.background-image:hover {
    color: #fff;
}

.profile-content {
    display: -webkit-flex;
    display: flex;
    align-items: flex-end;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    margin: 0px;
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
}

.profile-block {
    background: rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.50);
    border-right: 1px solid rgba(255, 255, 255, 0.50);
    width: 30%;
    height: 419px;
    vertical-align: middle;
    color: #fff;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.profile-followers{
    float: right;
    flex: 0 0 auto;
    text-align: right;
}
.profile-followers,
.profile-following {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-left: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.profile-followers span,
.profile-following span {
    display: inline-block;
    float: left;
    color: #fff;
}
.profile-followers span:first-child, .profile-following span:first-child{
    font-size: 20px;
    padding: 4px  15px;
}
.profile-followers span:last-child, .profile-following span:last-child{
    padding: 8px 15px;
    line-height: 21px;
    border-left: 1px solid rgba(255, 255, 255, 0.50);
}
.profile-followers {

}

.profile-following {

}

.follow-button {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.50);
    margin-left: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.follow-button a{
    display: block;
    padding: 8px 15px;
    cursor: pointer;
    color: #fff;
}

.profile-block h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.profile-block p {
    margin-bottom: 3px;
}

.profile-avatar {
    display: inline-block;
    border: #fff solid 1px;
    position: relative;
    width: 120px;
    height: 120px;
    margin-top: 20%;
     -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}
.profile-avatar img{
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
    bottom: -10px;
    margin: auto 0;
    width: 100%
}