.profile-basic-info {
    display: block;
    margin-bottom: 15px;
    position: relative;
    background: #fcfcfc;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), -1px 0 0 rgba(0, 0, 0, 0.03), 1px 0 0 rgba(0, 0, 0, 0.03), 0 1px 0 rgba(0, 0, 0, 0.12);
}

.basic-info-content {
    display: block;
    padding: 15px;
    min-height: 250px;
}

.basic-info-content ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

.basic-info-content li {
    display: block;
    margin: 0px;
    padding: 10px 0;
}

.basic-info-content li span {
    display: inline-block;
}

.basic-info-content li span:first-child {
    width: 35%;
    font-size: 16px;
    font-weight: 500;
}

.basic-info-content li span:last-child {
    color: #1368e8;
    font-size: 14px;
}

.add-link {
    display: inline-block;
    color: #558dfc;
    font-weight: 500;
}

.add-link span {
    display: inline-block;
    vertical-align: top;
    color: #558dfc;
    font-weight: 500;
}

.add-link i {
    display: inline-block;
    margin-right: 3px;
    font-size: 20px;
    line-height: 0px;
}

.basic-info-foot {
    display: block;
    padding: 0px;
    background: #c6c6c6;
}

.info-address {
    display: inline-block;
    width: 100%;
    background: #a6a6a6;
    padding: 10px;
    cursor: pointer;
    color: #fff;
}

.info-address i {
    display: inline-block;
    font-size: 16px;
    margin-right: 6px;
}

.basic-info-address {
    height: 0px;
    transition: height 500ms ease-in-out 0s;
    -webkit-transition: height 500ms ease-in-out 0s;
    overflow: hidden;
    background: #eee;
}

.basic-info-address.open {
    transition: height 200ms ease-out 0s;
    -webkit-transition: height 200ms ease-out 0s;
    height: 260px;
}

.basic-info-address .info-address-inner {
    padding: 15px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: opacity 500ms ease-in-out 0s, -webkit-transform 400ms ease-in-out 0s;
    transition: transform 400ms ease-in-out 0s, opacity 500ms ease-in-out 0s;
    transition: transform 400ms ease-in-out 0s, opacity 500ms ease-in-out 0s, -webkit-transform 400ms ease-in-out 0s;
    -webkit-transition: transform 400ms ease-in-out 0s, opacity 500ms ease-in-out 0s;
    opacity: 0;
    transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
}

.basic-info-address.open .info-address-inner {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: opacity 500ms ease-in-out 0s, -webkit-transform 400ms ease-in-out 0s;
    transition: transform 400ms ease-in-out 0s, opacity 500ms ease-in-out 0s;
    transition: transform 400ms ease-in-out 0s, opacity 500ms ease-in-out 0s, -webkit-transform 400ms ease-in-out 0s;
    -webkit-transition: transform 400ms ease-in-out 0s, opacity 500ms ease-in-out 0s;
    opacity: 1;
    transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
}

.basic-info-address .info-address-inner h3 {
    font-size: 18px;
}

.address-content {
    display: block;
    margin-top: 15px;
    height: 210px;
}

.address-content ul {
    display: block;
    margin: 0px;
    padding: 0px;
}

.address-content li {
    display: block;
    padding: 0px;
    margin: 6px 0;
    line-height: 20px;
}

.address-content li [class*="col-"] {
    padding: 0px;
}

.cont-text-pane,
.cont-icon-pane {
    display: block;
    float: left;
}

.address-content li a.field-text {
    display: block;
    line-height: 20px;
    padding: 0px 5px;
}

.address-content:hover a.field-text {
    background: #fff;
}

.address-pane {
    width: 200px;
}

.address-content li a.edit-icon {
    display: none;
    text-align: center;
    margin-left: 6px;
    width: 20px;
    height: 20px;
    line-height: 20px;
}

.address-content:hover a.edit-icon {
    display: block;
    background: #fff;
}