.previous-event{
    display: block;
    margin: 0;
    padding: 0;
}
.previous-event .event-head{
    display: block;
}
.previous-event .event-head h3{
    font-size: 14px;
    float: left;
}
.previous-event .event-head .event-date{
    display: inline-block;
    float: right;
}
.previous-event .vertical-list{
    padding-left: 10px;
}
.previous-event .vertical-list li{
    padding-bottom: 8px;
}
.previous-event .vertical-list li span{
    display: inline-block;
    vertical-align: top;
}
.previous-event .vertical-list li span:first-child{
    margin-right: 8px;
    
}
.previous-event .vertical-list li span:last-child{
    float: right;
}