.top-nav{
    display: block;
    background: #fff;
}
.top-nav .navbar-nav > li > a{
    padding: 1px 10px;
    color: #555;
}
.top-nav .navbar-nav > li:first-child a{
    padding-left: 0px;
}
.membership{
    line-height: 22px;
}